<component name="ArtifactManager">
  <artifact type="war" name="spring_boot_04_web_jsp:war">
    <output-path>$PROJECT_DIR$/spring_boot_04_web_jsp/target</output-path>
    <root id="archive" name="spring-boot-04-web-jsp-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_boot_04_web_jsp:war exploded" />
    </root>
  </artifact>
</component>